version: '3.8'

services:
  # Servidor coturn para STUN/TURN
  coturn:
    image: coturn/coturn:latest
    restart: always
    network_mode: host
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
    command: ["-c", "/etc/coturn/turnserver.conf"]
    
  # Servidor Node.js
  api:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - coturn