version: '3.8'

services:
  mongo_ghox:
    image: mongo:latest
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=ghox
    volumes:
      - mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  # Servidor coturn para STUN/TURN
  coturn:
    container_name: ghox-coturn
    image: coturn/coturn:latest
    restart: always
    network_mode: host
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d
  app_dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: ghox_server:dev
    ports:
      - "3002:3000"
    env_file:
      - .env.dev
    volumes:
      - ./:/usr/src/app
    depends_on:
      - mongo_ghox

  app_staging:
    build:
      context: .
      dockerfile: Dockerfile.staging
    image: ghox_server:staging
    ports:
      - "3001:3000"
    env_file:
      - .env.staging
    depends_on:
      - mongo_ghox

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghox_server:latest
    ports:
      - "3003:3003"
    env_file:
      - .env
    depends_on:
      - mongo_ghox